@import '~antd/dist/antd.css';

html * {
  box-sizing: border-box;
}

.leaflet-container {
  height: 100%;
}

.leaflet-right {
  display: none;
}

.app-container {
  display: flex;
  padding-top: 2vh;
}

.map-container {
  width: 65vw;
  height: 95vh;
}

.table-container {
  width: 35vw;
  height: 95vh;
}
